<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <app-brand-logo></app-brand-logo>
    </mat-toolbar>

    <app-sidenav-list></app-sidenav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <app-toolbar-list></app-toolbar-list>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
